:root {
    --cor-clara: #fff;
    --cor-escura: #1a1a1a;
    --cor-secundaria: #0c53e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/1600/900?random=1");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2352941176);
}

.field {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 15px;
}

.ico {
    filter: invert(1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(275px, 90vw, 380px);
    padding: 50px;
    gap: 5px;
    -webkit-backdrop-filter: blur(5px) opacity(90%);
    backdrop-filter: blur(5px) opacity(90%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2431372549), inset 0px 0px 10px rgba(255, 255, 255, 0.1568627451);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2705882353);
    color: var(--cor-clara);
    text-align: center;
}

.botao-entrar {
    width: 150px;
    background-color: #0c53e0;
    border-radius: 5px;
    border: 1px solid rgba(218, 203, 174, 0.2862745098);
    /* transition: transform 0.1s ease; */

    &:hover,
    input:hover {
        transform: scale(1.02);
    }
}

input[type="email"],
input[type="password"] {
    border: 2px outset var(--cor-clara);
    border-radius: 5px;
    padding-left: 5px;

    &:focus {
        outline: 2px solid #041c5180;
    }
}

.botao-entrar input {
    color: var(--cor-clara);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.2470588235);

    &::placeholder {
        color: #fff;
        text-shadow: 0px 0px 4px #000;
        font-weight: 300;
    }

    &:focus {
        outline: none;
    }
}

a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #a9b7d4;
    }

    &:active {
        color: #0c53e0;
    }
}

